body {
  background:#f4f3ee;
 color:#222222;
 font-family: 'Bebas Neue', cursive;
}

.texto {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);  
  color: #ffcedd;
  text-align: center;
}

.fondo {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);  
  text-align: center;
  width: 600px;
  height: 600px;
}
.logo {
  margin-top: 57px;
  margin-right: 10px;
  float: right;
  margin-left: 163px;
  width: 238px;
  height: 381px;
}

.container {
  display: grid;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 100px auto; /* valor ajustado */
}



.title {
 font: italic bold 40px/2 
 
}

.subtitle {
 font-size: px;
}

label {
  font-style: italic;
  font-size: 20px;
}

.contenedor-nombre {
padding: 30px;
}

#nombre {
  border-radius: 5px;
  
}

.contenedor-botones {
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 12px;
 

}

.primary-botton-hombre {
  border-radius: 5px;
  height: 40px;
  border-right: 50px;
  border-radius: 12px;
}

.primary-botton-mujer {
  border-radius: 5px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
}


.preguntas {
   display: none;
   text-align: center;
 }
.resultados {
   display: none;
   text-align: center;
     }

     
footer {
       position: fixed;
       bottom: 0;
       right: 0;
       color:#222222;
       padding: 10px;
}