body {
  background:#f4f3ee;
 color:#222222;
 font-family: 'Bebas Neue';
}

.texto {
  position: absolute;
  z-index: 2; 
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);  
  color: #ffcedd;
  text-align: center;
}

.fondo {
  position: absolute;
  z-index: 1;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);  
  text-align: center;
  width: 600px;
  height: 600px;
}
.logo {
  margin-top: 57px;
  margin-right: 10px;
  float: right;
  margin-left: 163px;
  width: 238px;
  height: 381px;
}

.container {
  display: grid;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 100px auto; /* valor ajustado */
}



.title {
 font: 'Bebas Neue'; 
 
}

.subtitle {
 font-size: px;
}

label {
  font-style: 'Bebas Neue';
  font-size: 20px;
}

.contenedor-nombre {
padding: 30px;
}

#nombre {
  border-radius: 5px;
  
}

.contenedor-botones {
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 12px;
 

}
button, input[type="button"] {
  background: #312d2a;
  color: #ede0cf;
  padding: 4.18px 5.32px 4.03px;
  border-radius: 80px;
  min-width: -11.77px;
  font-family: 'Bebas Neue';
  font-size: 1.25rem;
}

.primary-botton-hombre {
    background: #312d2a;
    color: #ede0cf;
    padding: 4.18px 5.32px 4.03px;
    border-radius: 80px;
    min-width: -11.77px;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
}

.primary-botton-mujer {
  border-radius: 5px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50%;
  background: #312d2a;
  color: #ede0cf;
  padding: 4.18px 5.32px 4.03px;
  border-radius: 80px;
  min-width: -11.77px;
  font-family: 'Bebas Neue';
  font-size: 1.25rem;
}


.preguntas {
   display: none;
   text-align: center;
 }
.resultados {
   display: none;
   text-align: center;
     }

     
footer {
       position: fixed;
       bottom: 0;
       right: 0;
       color:#222222;
       padding: 10px;
}